
.img-background {
    -fx-background-image: url("simuBackground.jpg");
    -fx-background-size: 100%
}

.img-menu-background {
    -fx-background-image: url("MenuBackground2.jpg");
    -fx-background-size: cover;
}

.start-button {
    -fx-background-color: #28a745;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(128,128,128,0.75), 10, 0.5, 0, 0);
    -fx-padding: 10px 20px;
    -fx-font-size: 40;
    -fx-font-family: "Myanmar MN";
}

.title {
    -fx-font-size: 60;
    -fx-font-family: "Myanmar MN";
}

.h1-text {
    -fx-font-size: 35;
    -fx-font-family: "Myanmar MN";
}

.h2-text {
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-font-family: "Myanmar MN";
}

.h3-text {
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-font-family: "Myanmar MN";
}